In [148]:
import chardet

with open("C:/Users/user-pc/Documents/ai-proj2-class4/10.data-collecting/서울시 기상관련변수.csv", 'rb') as f:
    result = chardet.detect(f.read(10000))  # 일부만 분석
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [149]:
import pandas as pd

df = pd.read_csv('C:/Users/user-pc/Documents/ai-proj2-class4/10.data-collecting/서울시 기상관련변수.csv', encoding="utf-8")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409892 entries, 0 to 2409891
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   지점       int64
 1   지점명      object
 2   일시       object
 3   기온(°C)   float64
 4   풍향(deg)  float64
 5   풍속(m/s)  float64
 6   강수량(mm)  float64
 7   습도(%)    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 147.1+ MB

In [150]:
df

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%)
0,400,강남,2015-01-01 01:00:00,-6.3,314.7,2.7,0.0,30.000000
1,417,금천,2015-01-01 01:00:00,-6.7,313.5,2.3,0.0,63.543241
2,424,강북*,2015-01-01 01:00:00,-6.8,308.6,5.2,0.0,36.000000
3,421,성동,2015-01-01 01:00:00,-5.8,319.9,4.1,0.0,36.000000
4,416,은평,2015-01-01 01:00:00,-7.5,356.7,1.0,0.0,63.543241
...,...,...,...,...,...,...,...,...
2409887,421,성동,2025-05-31 00:00:00,19.5,214.8,1.2,0.0,65.000000
2409888,408,동대문,2025-05-31 00:00:00,20.0,0.0,0.2,0.0,62.000000
2409889,403,송파,2025-05-31 00:00:00,20.1,157.1,1.1,0.0,61.000000
2409890,419,중구,2025-05-31 00:00:00,19.3,312.3,2.5,0.0,60.000000
2409891,417,금천,2025-05-31 00:00:00,19.8,195.9,1.7,0.0,61.000000

In [152]:
df.rename(columns={
    '지점': 'station_id',
    '지점명' : 'station_name',
    '일시' : 'datetime',
    '기온(°C)' : 'temperature',
    '풍향(deg)' : 'wind_direction',
    '풍속(m/s)' : 'wind_speed',
    '강수량(mm)' : 'precipitation',
    '습도(%)' : 'humidity'
}, inplace=True)


# 결과 확인
print(df.columns)

Index(['station_id', 'station_name', 'datetime', 'temperature',
       'wind_direction', 'wind_speed', 'precipitation', 'humidity'],
      dtype='object')

In [153]:
df.head()

,station_id,station_name,datetime,temperature,wind_direction,wind_speed,precipitation,humidity
0,400,강남,2015-01-01 01:00:00,-6.3,314.7,2.7,0.0,30.000000
1,417,금천,2015-01-01 01:00:00,-6.7,313.5,2.3,0.0,63.543241
2,424,강북*,2015-01-01 01:00:00,-6.8,308.6,5.2,0.0,36.000000
3,421,성동,2015-01-01 01:00:00,-5.8,319.9,4.1,0.0,36.000000
4,416,은평,2015-01-01 01:00:00,-7.5,356.7,1.0,0.0,63.543241

In [154]:
import json
from sqlalchemy import create_engine 
from sqlalchemy.exc import SQLAlchemyError
import cryptography

with open('C:/Users/user-pc/Documents/ai-proj2-class4/10.data-collecting/db-config.json', 'r') as f:
    config = json.load(f)

user = config['user']
password = config['password']
host = config['host']
port = config['port']
database = config['database']

# df['datetime'] = pd.to_datetime(df['datetime'])  # datetime 형식으로 변환

In [158]:
# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
conn = engine.connect()
# 데이터 삽입 (예외처리 포함)
try:
    df.to_sql(name='weather', con=conn, if_exists='append', index=False)
    print("[Success] 데이터가 성공적으로 삽입되었습니다.")
except SQLAlchemyError as e:
    print("[Failure] 데이터 삽입 중 오류 발생:", str(e))

[Success] 데이터가 성공적으로 삽입되었습니다.